#cal-layout{
background-color: green;
width:20%;
height:50%;
border: 5px solid black;
border-radius: 25px;
}
.buttoncss{
width: 40px;
height: 35px;
color: white;
font-weight: bold;
}
table{
  margin: 0px auto;
}
#display{
  border: 5px solid black;
  font-weight: bold;
  color: black;
}
.blackbutton{
background-color: rgba(0, 0, 0, 0.774);
}
.silverbutton
{
  background-color: rgba(87, 80, 80, 0.925);
}
.pinkbutton{
  background-color: rgba(165, 9, 126, 0.925);
  color: black;
}
.orangebutton{
  background-color: rgba(218, 127, 9, 0.925);
  color: black;
}
